@model IList<Park>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (Park park in Model)
{

    <div>
        <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode"><img class="front-page-image" src="images/@(park.ParkCode).jpg"></a>
        <div class="front-page-description">
            <h2>@park.ParkName</h2>
            <p>@park.State</p>
            <p class="park-description">@park.ParkDescription</p>
        </div>
    </div>


}